# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack
/.dynamodb
/.vscode
.DS_Store
report.*.json

.turbo
lib
.env
/packages/rpmed-api/schema.graphql
build
/packages/rpmed-ui/src/css/tailwind.css
/packages/rpmed-service/.env.local
